*{
  overflow-x: hidden;
}
.App {
  text-align: center;
padding: 0;
margin: 0;
box-sizing:border-box;

}
.App .wave{
  width:100%;
  height:100vh;
  position:fixed;
  left:0;
  bottom:0;
  z-index:-1;
}
.container{
  width:100vw;
  height:100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:7rem;
  padding:0 2rem;
}
.img{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
form{
  width:400px;
}



.img img{
  width:500px;
}

.login-container{
  display: flex;
  align-items: center;
  text-align: center;
}

.avatar{
  width:100px;
}

form h2{
  font-size: 35px;
  text-transform: uppercase;
  margin:  15px 0;
  color:#333;
}
.input-div{
  position: relative;
  display: grid;
  grid-template-columns: 7% 99%;
  margin:  25px 0;
  padding: 5px 0;
  border-bottom:2px solid #282c34;
  

}


.input-div > div{
  position:relative;
  height:45px;

}
.input-div > div h5{
  position: absolute;

  top:5%;
  
  transform: translateY(-50%);
  color:#333;
  font-size: 18px;
  transition: .3s;
}

.input{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border:none;
  outline: none;
  background: none;
  padding:0.5rem 0.7rem;
  font-size: 1.2rem;
  color:#333;
  text-align: center;
}
a{
  display: block;
  text-align: right;
  text-decoration: none;
  color:blue;
  font-size: 0.9rem;
  transition: .3s;

}
a:hover{
  color:#38d39f;
}
.btn{
  display: block;
  width:100%;
  height:50px;
  border-radius:25px;
  margin:1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  color: #fff;
  background-color:cornflowerblue ;
  cursor: pointer;
  
  transition: .5s;
}

#logo{
  width:25%;
  height:25%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 100px;


}


